body{
    background-color: #42413d;
    color: #fff;
}

.beautyBar{
    color: #ffdb00;
    font-family: "MrsEavesOT-Roman", serif;;
}
.navbar.navbar-default{
    background-color: black;
    background-image: url(./image/navBarStripes.gif);
    background-repeat: repeat-x;
    background-position-y: center;
    color: #fff;
    background-color: #42413d;
    font-family: "AvenirNextLTPro-Regular", sans-serif;
    padding: 0;
    height: 130px;
}

.fa-shopping-basket{
    color: #ffdb00;
}
.basketImage{
    height: 30%;
    width: 30%;
}
.propsImage{
     height: 90%;
     width: 90%;
     margin: 1vh auto;
}

.propsName2{
    color: #a1a09f;
}

.card-body {
    height: 240px;
    
    /* border-image: url(./image/dotBorder.svg);
    border-image-width: 0 3px 0 0;
    border-width: 0 3px 0 0;
    border-style: solid; */
}

.card{
    border-image: url(./image/dotBorder.svg) 9 repeat;
    border-image-width: 3px 3px 3px 3px;
    border-width:  3px 3px 3px 3px;
    border-style: solid;
    background-color: #42413d;
    font-family: "AvenirNextLTPro-Regular", sans-serif;
}

.image {
    max-width: 100%;
    top: 100px;
}

#carouselParent{
    /* height: 500px;
    width: 500px; */
    /* height: 10vh; Magic here */
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#carouselParent img{
    margin: auto;
    height: 50vh;
    width: auto;
}

#carousel-thumb{
    margin: auto;
    height: 20vh;
    width: auto;
}


/* .ProductDetailThumbnails{
    display: flex;
    justify-content: center;
    margin: auto;
    width:100%;
}
.ProductDetailThumbnails div{
    display: inline-block;
    margin: 0 15px
}
.ProductDetailThumbnails img{
    display: inline-block;
    width: 100%;
    height:100%;
}
.ProductDetailMainImg{
    height: 80%;
    width: 80%;
    margin: auto;
} */

.firstPicProductDetailCarousel img{
    width: 340px;
    height: 340px;
}

.carouselPicturesDetails img{
    width: 100px;
    height: 100px;
    display: inline-block; 
    margin: 0 25px;
}

.carouselPicturesDetails div{
    display: inline-block;
    margin: 0 15px
}

.shoppingBasket{
    width: 100px;
    color: black;
}

.homeIcon{
    height: 20px;
    width: 20px;
    top: 10px;
}

/* .shop{
    color: black;
} */

.card-body:hover:not(.propsPrice){
    text-decoration: underline;
}
#carouselParent img{
    height: 100%;
    width: 90%;
}
.firstPicProductDetailCarousel img{
    margin: auto;
}
.carouselPicturesDetails{
    margin-top: 5px;
    
}

button{
    background-color: #ffdb00;
    color: #42413d;
    border-radius: 3px;
}

/* .basketBox{
    background-color: #a1a09f;
} */