body {
  background-color: #fff;
  color: #303e48;
  font-family: "Noto Serif SC", serif;
}
#header {
  list-style: none;
}
.list-group-item {
  background-color: transparent;
  border: 0;
}
.beautyBar {
  color: #303e48;
  font-family: "Roboto-Regular", "Helvetica Neue", Arial, sans-serif;
  font-family: "Noto Serif SC", serif;
}
.stripedNavBar {
  background-color: #e3f0f8;
  /* background-image: url(./image/navBarStripes.gif); */
  /* background-repeat: repeat; */
  background-position-y: center;
  color: #303e48;
  /* background-color: #42413d; */
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  padding: 0;
  border-top: solid #bc2226;
}

.fa-shopping-basket {
  color: #303e48;
}
.basketImage {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.propsImage {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  margin: 1vh auto;
}
.vignette-inset {
  margin: 1vh auto;
  display: block;
  position: relative;
}
.vignette-inset:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0px 0px 16px black;
}

.propsName2 {
  color: #a1a09f;
}

.image {
  max-width: 100%;
  top: 100px;
}

#carouselParent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#carouselParent img {
  margin: auto;
  height: 50vh;
  width: auto;
}

#carousel-thumb {
  margin: auto;
  height: 20vh;
  width: auto;
}

.detailContainer img {
  border-radius: 3px;
}

.productCarousel {
  height: 75%;
}
.firstPicProductDetailCarousel img {
  width: 75%;
  height: 75%;
  display: block;
  margin: auto;
}
.carouselPictures {
  display: flex;
  justify-content: center;
  height: 25%;
}
.carouselDetail img {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 15px auto;
}

.carouselDetail {
  display: inline-block;
  margin: 0 7px;
  height: 100%;
}

.shoppingBasket {
  width: 100px;
  color: rgba(0, 0, 0, 0.87);
}

.homeIcon {
  height: 20px;
  width: 20px;
  top: 10px;
}
.card-body{
  transition: .5s ease;
  backface-visibility: hidden;
}
.card-body:hover:not(.propsPrice) {
  text-decoration: underline;
}

.card:hover{
  cursor: pointer;
}
#carouselParent img {
  height: 100%;
  width: 90%;
}
.firstPicProductDetailCarousel img {
  margin: auto;
}
.carouselPicturesDetails {
  margin-top: 5px;
}

button {
  background-color: #bc2226;
  color: #fff;
  border-radius: 3px;
  border-color: #bc2226;
  padding:.375rem .75rem;
}
.card-img{
  object-fit: contain;
}
.imgObjFitContain{
  object-fit: contain;
  height:100%;
  width:100%
}
.imageBorder {
  border: solid 15px;
  border-color: #a1a09f;
}


.detailContainer {
  font-family: "Noto Serif SC", serif;
}

.containerProductList {
  width: 70%;
  margin: auto;
  font-family: "Noto Serif SC", serif;
}

.containerCartSummary {
  width: 60%;
  margin: auto;
}
.cartQty {
  font-size: 1em;
  height: 100%;
  padding-left: 20px;
}
.detailName {
  color: #a1a09f;
}

.detailBrand {
  font-size: 1.5625em;
  letter-spacing: 0.204em;
  margin: 0 0 0.04em;
}
.detailDescription {
  color: #303e48;
}

.cartSummaryItem {
  font-family: "Noto Serif SC", serif;
}

.propsFeaturedImage {
  height: 150px;
  display: block;
  margin: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.propsFeaturedImage img {
  height: 100%;
  width: 100%;
  display: block;
  margin: 1vh auto;
}

.featuredCard {
  padding: 30px;
}

.featuredLogoBorder {
  padding: 30px;
}

.footerLogo {
  color: #a1a09f;
}

.dotsBordersTB {
  border-image: url(./image/dotBorder.svg) 9 repeat;
  border-image-width: 3px 0;
  border-width: 3px 0;
  border-style: solid;
}
.dotsBordersTop {
  border-image: url(./image/dotBorder.svg) 9 repeat;
  border-image-width: 3px 0 0 0;
  border-width: 3px 0 0 0;
  border-style: solid;
  background-color: #fff;
}
.dotsBordersRight {
  border-image: url(./image/dotBorder.svg) 9 repeat;
  border-image-width: 0 3px 0 0;
  border-width: 0 3px 0 0;
  border-style: solid;
  background-color: #fff;
}
.dotsBordersBottom {
  border-image: url(./image/dotBorder.svg) 9 repeat;
  border-image-width: 0 0 3px 0;
  border-width: 0 0 3px 0;
  border-style: solid;
  background-color: #fff;
}
.dotsBordersRightBottom {
  border-image: url(./image/dotBorder.svg) 9 repeat;
  border-image-width: 0 3px 3px 0;
  border-width: 0 3px 3px 0;
  border-style: solid;
  background-color: #fff;
}
.dotsBordersLeft {
  border-image: url(./image/dotBorder.svg) 9 repeat;
  border-image-width: 0 0 0 3px;
  border-width: 0 0 0 3px;
  border-style: solid;
  background-color: #fff;
}
.dotsBorders {
  border-image: url(./image/dotBorder.svg) 9 repeat;
  border-image-width: 3px 3px 3px 3px;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  background-color: #fff;
}
.removeIcon {
  background: url(./image/sprite.svg) no-repeat -1px -2894px;
  width: 16px;
  height: 16px;
}
.footerBarImage {
  background: url("image/sprite.svg") repeat -2px -162px;
  margin-top: 20px;
  width: 100%;
  height: 88px;
  background-color: #e3f0f8;
}
.footerBarLine {
  background-color: #a1a09f;
  height: 0.75em;
  margin-top: -0.75em;
}
.footerContainer {
  background-color: #e3f0f8;
}
.checkoutItems {
  background: white;
  border-radius: 15px;
}
.blueColor {
  background-color: #e3f0f8;
}

.quickLook {
    display: none;
    z-index: 2;
    position: absolute;
    width: 75%;
    background-color: white;
    border: 1px solid #999999;
    top: 40%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.quickLook:hover{
  background-color: #e3f0f8;
  border: none;
  
}
* {
  box-sizing: border-box;
}
.card {
  padding-top: 1px;
  border: none;
}

.card:hover .quickLook {
  display: block;
}
.card:hover .card-body {
  font-size: 105%;
}
.card:hover .propsFeaturedImage, .card:hover .propsImage{
  /* box-shadow: inset 0px 0px 16px black; */
  opacity: .3;
}
/* .propsImage */
@media (min-width: 1000px){
.headerHover:hover {
  border-bottom: 3px solid #bc2226;
  text-decoration-color: #bc2226;
  padding-bottom: .01rem;
  }
}

.underlineRed {
  text-decoration: underline wavy #bc2226;
}

.promo-box {
  background-color: #ffffff;
}
@media (min-width: 544px) {
  .promo-box {
    width: 350px;
    top: 0;
  }
}
.promo-box {
  left:23%;
  top: 32px;
  z-index: 3;
  padding: 30px;
}

.navbar-light .navbar-toggler{
  border: none;
}

a:link{
  color: #303e48;
  text-decoration: none;
}

a:hover{
  color: #303e48;
}

a:visited { 
  color: #303e48 
}

.quantity input{
  width: 2em;
}
.plus-btn, .minus-btn{
  font-size: 10px;
}
/* #cartSummary *{
  outline:1px solid black;
} */

.itemBrand{
  font-size: 3vw;
}
.itemName, .itemPrice{
  font-size: 2.5vw;
}
body,html{
  height:100vh;
  width: 100vw;
}